
<div class="container">
    
  
  <h1>Register</h1>
    <form (ngSubmit)="onSubmit()" #loginForm ="ngForm">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="title" required
            [(ngModel)]="model.username" name="username" #username="ngModel">
            <div [hidden]="username.pristine || username.valid" 
            class="alert alert-danger">
            Username is required
            </div>
        </div>
        
        
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="title" required
            [(ngModel)]="model.email" name="model.email" #email="ngModel">
           
            <div [hidden]="email.pristine || email.valid"
            class="alert alert-danger">
            Email is required
             </div>
            
        </div>
  
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" required
            [(ngModel)]="model.password" name="password" #password="ngModel">
            <div [hidden]="password.pristine || password.valid" 
            class="alert alert-danger">
            Password is required
            </div>
        </div>
        
       
  
        <button type="submit" class="btn btn-success" [disabled]="!loginForm.form.valid">Submit</button>
        <button type="button" class="btn btn-default" (click)="loginForm.reset()">Reset</button>
  
    </form>
  </div>